@import "../../assets/styles/variables.style";

.auth-form {
  width: 50rem;
  max-width: 80%;
  margin: 5rem auto;

  .form-actions {
    .btn-sign {
      cursor: pointer;

      background: none;
      border: none;
      text-decoration: underline;

      &:hover {
        opacity: 0.85;
      }

      &:active {
        color: $secondary-color;
      }
    }
  }
}
