//-----------------------------------------------------------------//
//---------------------------- COLORS -----------------------------//
//-----------------------------------------------------------------//

$black: #141414;
$white: #fafafa;

$primary-color: #00a2ff;

$secondary-color: #6000dd;
$secondary-color-dark: #3c008a;

$success-color: #00d483;
$success-color-dark: #008150;
$danger-color: #c9002b;
$danger-color-dark: #79001a;

//-----------------------------------------------------------------//
//----------------------------- FONT ------------------------------//
//-----------------------------------------------------------------//

$main-font: "Poppins", sans-serif;

//-----------------------------------------------------------------//
//-------------------------- SCREEN SIZE --------------------------//
//-----------------------------------------------------------------//

$ss-big: 1920px;
$ss-med: 1366px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;
