//-----------------------------------------------------------------//
//---------------------------- COLORS -----------------------------//
//-----------------------------------------------------------------//

$black: #141414;
$white: #fafafa;

$primary-color: #00a2ff;

$secondary-color: #6f00ff;
$secondary-color-dark: #3c008a;

$danger-color: #ff0037;

//-----------------------------------------------------------------//
//----------------------------- FONT ------------------------------//
//-----------------------------------------------------------------//

$main-font: "Poppins", sans-serif;

//-----------------------------------------------------------------//
//-------------------------- SCREEN SIZE --------------------------//
//-----------------------------------------------------------------//

$ss-big: 1920px;
$ss-med: 1366px;
$ss-small: 1024px;
$ss-tablet: 768px;
$ss-mobile: 480px;
