@import "../../assets/styles/variables.style";

.events-item {
  width: 300px;
  padding: 1rem;
  margin: 1rem;

  border: 1px solid $secondary-color;

  text-align: left;

  &__actions {
    button {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 0 0 1rem;

      & > span {
        display: block;
        position: absolute;

        background-color: $white;
        width: 10px;
        height: 2px;
      }

      :first-child {
        transform: translateX(-50%);
        left: 50%;
        top: 9px;
      }

      :last-child {
        transform: translateX(-50%) rotate(90deg);
        left: 50%;
        top: 9px;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__desc {
    height: calc(100% - 20px);

    h2 {
      margin-top: 1rem;
      text-align: right;
    }

    span {
      display: block;
      margin-bottom: 1rem;
      color: rgba($black, 0.5);
    }
  }
}
